@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  font-family: 'Poppins', sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

.hero-page {
  background-image: url('./assets/image/bg-gradient.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: contain;
}

.network {
  background-image: url('./assets/image/blue-bg.png');
  background-repeat: no-repeat;
  background-color: #000;
  background-size: cover;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-left {
  animation: slideFromLeft 0.5s ease-in-out;
}

.animate-right {
  animation: slideFromRight 0.5s ease-in-out;
}
